# fincode TEST payment E2E (disabled by default)
FINCODE_TEST_PAYMENT_ENABLED=false
FINCODE_TEST_API_BASE=https://api.test.fincode.jp
FINCODE_TEST_SECRET_KEY=
FINCODE_TEST_SHOP_ID=
PUBLIC_FINCODE_TEST_PAYMENT_ENABLED=false
PUBLIC_FINCODE_TEST_PUBLIC_KEY=
